Repository hashgraph/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/platform-ci, @hashgraph/release-engineering-managers, @hashgraph/tools-and-libraries, @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/consensus, @hashgraph/platform-architects, @jsync-swirlds, @hashgraph/mirror-node, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops, @hashgraph/release-engineering, @tinker-michaelj, @hashgraph/platform-cryptography, @hashgraph/platform-ci-committers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers
#########################
##### Example apps ######
#########################
# Tools and Libraries Base Example app
/example-apps/**/module-info.java               @hashgraph/tools-and-libraries
/example-apps/swirlds-platform-base-example/    @hashgraph/tools-and-libraries


#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @hashgraph/consensus @hashgraph/tools-and-libraries @hashgraph/platform-architects
/hapi/hedera-protobufs/services                 @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @jsync-swirlds @hashgraph/mirror-node


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @poulok @netopyr @Nana-EC @SimiHunjan @steven-sheehy @nathanklick
/hedera-node/configuration/dev/**               @hashgraph/hedera-services
/hedera-node/infrastructure/**                  @hashgraph/release-engineering-managers @hashgraph/platform-ci @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/platform-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services
/hedera-node/hedera-app*/                       @hashgraph/hedera-services
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services
/hedera-node/hedera-file*/                      @hashgraph/hedera-services
/hedera-node/hedera-network*/                   @hashgraph/hedera-services
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts-core @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core

# Documentation
/hedera-node/docs/design/services/smart-contract-service    @hashgraph/hedera-smart-contracts-core

###############################
##### Hedera Cryptography #####
###############################
/hedera-cryptography/                               @hashgraph/platform-cryptography

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hashgraph/consensus @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/README.md                             @hashgraph/consensus

# Platform SDK Modules
/platform-sdk/platform-apps/                        @hashgraph/consensus
/platform-sdk/swirlds-base/                         @hashgraph/tools-and-libraries
/platform-sdk/swirlds-benchmarks/                   @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-cli/                          @hashgraph/consensus
/platform-sdk/swirlds-common/                       @hashgraph/consensus @hashgraph/tools-and-libraries
/platform-sdk/swirlds-component-framework/          @hashgraph/consensus
/platform-sdk/swirlds-config-*/                     @hashgraph/tools-and-libraries
/platform-sdk/swirlds-fchashmap/                    @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                      @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                      @hashgraph/tools-and-libraries
/platform-sdk/swirlds-logging-*/                    @hashgraph/tools-and-libraries
/platform-sdk/swirlds-merkle/                       @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-merkledb/                     @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-metrics-*/                    @hashgraph/tools-and-libraries
/platform-sdk/swirlds-platform-core/                @hashgraph/consensus
/platform-sdk/swirlds-state-*/                      @hashgraph/tools-and-libraries
/platform-sdk/swirlds-unit-tests/common/            @hashgraph/consensus @hashgraph/tools-and-libraries
/platform-sdk/swirlds-unit-tests/core/              @hashgraph/consensus @hashgraph/tools-and-libraries
/platform-sdk/swirlds-unit-tests/structures/        @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/swirlds-virtualmap/                   @hashgraph/tools-and-libraries @hashgraph/platform-architects
/platform-sdk/**/module-info.java                   @hashgraph/consensus @hashgraph/tools-and-libraries

####################
#####   HAPI  ######
####################
/hapi/                                              @hashgraph/consensus @hashgraph/tools-and-libraries @hashgraph/platform-architects @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core

# Documentation
/platform-sdk/docs/platformWiki.md                  @hashgraph/consensus @hashgraph/tools-and-libraries
/platform-sdk/docs/base                             @hashgraph/tools-and-libraries
/platform-sdk/docs/components                       @hashgraph/consensus
/platform-sdk/docs/core                             @hashgraph/consensus

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/node-zxf-deploy-integration.yaml @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/devops @hashgraph/release-engineering-managers
/.github/workflows/node-zxf-deploy-preview.yaml     @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/devops @hashgraph/release-engineering-managers

# Legacy Maven project files
**/pom.xml                                          @hashgraph/platform-ci @hashgraph/devops

# Gradle project files and inline plugins
/gradle/                                            @hashgraph/platform-ci @hashgraph/platform-ci-committers
gradlew                                             @hashgraph/platform-ci @hashgraph/platform-ci-committers
gradlew.bat                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/build-logic/                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/gradle.*                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/*.gradle.*                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers

# Codacy Tool Configurations
/config/                                            @hashgraph/platform-ci @hashgraph/release-engineering-managers
.remarkrc                                           @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                          @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/tools-and-libraries @hashgraph/hedera-services @hashgraph/consensus
**/LICENSE                                          @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                      @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/tools-and-libraries @hashgraph/hedera-services @hashgraph/consensus
**/.gitignore.*                                     @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/tools-and-libraries @hashgraph/hedera-services @hashgraph/consensus

# Legacy CircleCI configuration
.circleci.settings.xml                              @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.circleci/                                         @hashgraph/platform-ci @hashgraph/release-engineering-managers

fix: retain override values on `ConfigProviderImpl.update()` (#17424) (#17430)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/config/ConfigProviderImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/util/FileUtilities.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/FacilityInitModule.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/config/ConfigProviderImplTest.java
Owners: @hashgraph/hedera-services

fix: cleanup code
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: fix summary printouts
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: update
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: fix a problem
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: clean up the summary output
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove dry run flag as git-semver does not support dry run
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove braces from BUILD_TAG to output to github summary
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: Make a new step for the summary output
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: print temp branch name to summary
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove duplicate printout to summary
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: uncomment import gpg key step
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: try something else for summary
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: print out
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: 17467: Back out changes for 15448 from release 0.58
  platform-sdk/swirlds-benchmarks/src/jmh/java/com/swirlds/benchmark/VirtualMapBench.java
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/VirtualMapSerializationTests.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipeline.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/pipeline/VirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCacheTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNodeTest.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/DummyVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/NoOpVirtualRoot.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/pipeline/VirtualPipelineTests.java
Owners: @hashgraph/tools-and-libraries, @hashgraph/platform-architects

fix: try one other thing for summary
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: clean up duplicate
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

prehnbadle and purecheck atomic transaction impl
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/PreHandleContext.java
  hedera-node/hedera-app-spi/src/testFixtures/java/com/hedera/node/app/spi/fixtures/workflows/FakePreHandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/DispatchHandleContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/prehandle/PreHandleContextImpl.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/AtomicBatchConfig.java
  hedera-node/hedera-util-service-impl/src/main/java/com/hedera/node/app/service/util/impl/handlers/AtomicBatchHandler.java
Owners: @hashgraph/hedera-services

fix: hopefully final cleanup step on summary output
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: replace printf with echo
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove extra summary print
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: cleanup before merging
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: add standard braces for shell expansions
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: push new tag to remote
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: final cleanup
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: spotless
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove delete tag step
  .github/workflows/flow-trigger-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers
