Repository hashgraph/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/platform-base, @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-architects, @jsync-swirlds, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops, @hashgraph/release-engineering, @tinker-michaelj, @hashgraph/platform-cryptography, @hashgraph/devops-ci-committers

Spotless
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
Owners: @hashgraph/hedera-services

docs: add TODO comment
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

docs: add TODO comment for EventMetadata
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/EventMetadata.java
Owners: @hashgraph/platform-hashgraph

feat: Protobufs for Tss Startup (#16822)
  hapi/hedera-protobufs/block/stream/output/state_changes.proto
  hapi/hedera-protobufs/services/auxiliary/tss/tss_encryption_key.proto
  hapi/hedera-protobufs/services/basic_types.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/hedera-protobufs/services/transaction_body.proto
  hapi/src/main/java/com/hedera/hapi/util/HapiUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockImplUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BoundaryStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/KVStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/schemas/V0570TssBaseSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStoreImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/WritableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/StakePeriodChanges.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockImplUtilsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/info/DiskStartupNetworksTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/ReadableTssStoreTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/WritableTssStoreTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeTssBaseService.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/BlockStreamUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects, @jsync-swirlds

wip
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeTssBaseService.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

fix after merge conflicts
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

fix: revert more unneeded changes
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

refactor: wrong reference
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/README.md
Owners: @hashgraph/platform-hashgraph

chore: Add more HSCS javadocs (#16600)
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/gas/DispatchGasCalculator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/DispatchForResponseCodeHtsCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/allowance/GetAllowanceCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateDecoder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateDecoderFunction.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/EthTxSigsCache.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/ContractOperationStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/EthereumTransactionStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/EvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/CallAttemptHelpers.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

chore: Cherry Pick: State validation fails for round 191161423 on LSE (#16796)
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/BreakableDataSource.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/AbstractHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectNodeRemover.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
Owners: @hashgraph/platform-data, @hashgraph/platform-architects

fix: 16748 Fixed serialization for AddressBookTestingToolState (#16799)
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolState.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFileReader.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleTreeSnapshotReader.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

fix: 16750 Fixed serialization for `ISSTestingToolState` (#16826)
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

more updates, remove idea of metadata file
  hedera-node/docs/proposals/block-stream-bucket-uploader.md
Owners: @hashgraph/hedera-services

chore: Cover `ScheduleCreate` with recently changed throttle definitions (#16820)
  hapi/hedera-protobufs/services/response_code.proto
  hedera-node/configuration/compose/node.properties
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/dev/node.properties
  hedera-node/data/config/node.properties
  hedera-node/docker/.dockerignore
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BlockStreamConfig.java
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/handlers/ScheduleCreateHandler.java
  hedera-node/infrastructure/docker/containers/local-node/network-node-base/Dockerfile
  hedera-node/infrastructure/docker/containers/production-next/consensus-node/Dockerfile
  hedera-node/infrastructure/docker/containers/production/network-node-base/Dockerfile
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/subprocess/ProcessUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/TransactionRecordParityValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/resources/testSystemFiles/mainnet-throttles-sans-reservations.json
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops-ci, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/devops

Increase CryptoGetAccountBalance throttle to the number of mainnet nodes times 1,000,000
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

Update previewnet, testnet CryptoGetAccountBalance throttle to the number of nodes times 1,000,000
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

Update CryptoGetAccountBalance throttle in previewnet, testnet, mainnet to the number of network nodes times 1,000,000 plus a buffer
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

LongListDisk: temp directories are explicitly deleted
  platform-sdk/swirlds-merkledb/src/main/java/com/swirlds/merkledb/collections/LongListDisk.java
Owners: @hashgraph/platform-data, @hashgraph/platform-architects

Add a buffer to the throttle
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

Update CryptoGetAccountBalance throttle in previewnet, testnet, mainnet to the number of network nodes times 1,000,000 plus a buffer
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

reducing build roster calls.
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/uptime/UptimeTracker.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/uptime/UptimeTests.java
Owners: @hashgraph/platform-hashgraph

chore: Cherry-Pick (0.56): Increase CryptoGetAccountBalance throttle (#16852)
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

Fix tests; simplify
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/ReadableNodeStoreImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/GenesisNetworkInfo.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/NodeStakeUpdatesTest.java
  hedera-node/hedera-app/src/testFixtures/java/com/hedera/node/app/fixtures/AppTestBase.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/roster/RosterRetriever.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/address/AddressBookUtils.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/util/AddressBookUtilsTest.java
Owners: @hashgraph/hedera-services, @hashgraph/platform-hashgraph

chore: support override node admin keys (#16781)
  hedera-node/configuration/dev/node-admin-keys.json
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V053AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/AddressBookTestBase.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V053AddressBookSchemaTest.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/SystemContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/SystemSetupTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BootstrapConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NetworkAdminConfig.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/AbstractNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/ExternalPath.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/EmbeddedNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/utils/WorkingDirUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/BlockUnitSplit.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/HgcaaLogValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/streams/LogValidationOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip993/SystemFileExportsTest.java
  hedera-node/test-clients/src/main/java/module-info.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/internal/PlatformConfigUtils.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

Remove unneeded dependency
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
Owners: @hashgraph/hedera-services

feat: implement hss sign schedule function (#16789)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactoryTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/gas/DispatchType.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleSystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/QuerySystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/SystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/HssSystemContract.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/common/AbstractCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/DispatchForResponseCodeHssCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/QuerySystemContractOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/CallAttemptHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/HssSystemContractTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/DispatchForResponseCodeHssCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/signschedule/SignScheduleTranslatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/schedule/HapiScheduleCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/schedule/ContractSignScheduleTest.java
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.json
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HederaResponseCodes.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HederaScheduleService.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/IHederaScheduleService.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.json
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.sol
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

address pr comments 2
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/common/AbstractCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/HssCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/HssCallFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/CallAttemptHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallAttemptTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/signschedule/SignScheduleTranslatorTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

break up the proxy redirect code in order to clarify
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

forward the top level transaction authorizing simple keys during dispatch
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

fixing a unit test behavior
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/eventhandling/DefaultTransactionHandlerTests.java
Owners: @hashgraph/platform-hashgraph

ConcurrentArray constructor from a stream is improved. New unit tests. ConcurrentArrayBenchmark is updated
  platform-sdk/swirlds-virtualmap/src/jmh/java/com/swirlds/virtualmap/internal/cache/ConcurrentArrayBench.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/ConcurrentArray.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/VirtualRootNode.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/cache/ConcurrentArrayTest.java
Owners: @hashgraph/platform-data, @hashgraph/platform-architects

fix: 16858 Corrected class ids for PlatformMerkleStateRoot and MerkleStateRoot
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/PlatformMerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

fix comment
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/eventhandling/DefaultTransactionHandlerTests.java
Owners: @hashgraph/platform-hashgraph

JavaDoc
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
Owners: @hashgraph/platform-data, @hashgraph/platform-architects

fix: 16858 Corrected class ids for PlatformMerkleStateRoot and MerkleStateRoot
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/PlatformMerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

fix: 16748 Fixed serialization for AddressBookTestingToolState (#16799) (#16848)
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolState.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFileReader.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleTreeSnapshotReader.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

fix: 16750 Fixed serialization for `ISSTestingToolState` (#16826) (#16849)
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

fix: 16858 Corrected class ids for PlatformMerkleStateRoot and MerkleStateRoot
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/PlatformMerkleStateRoot.java
  platform-sdk/swirlds-state-impl/src/main/java/com/swirlds/state/merkle/MerkleStateRoot.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

ci: Add fork repo check in workflows
  .github/workflows/flow-pull-request-formatting.yaml
  .github/workflows/node-flow-fsts-daily-interval-01.yaml
  .github/workflows/node-flow-fsts-daily-interval-02.yaml
  .github/workflows/node-flow-fsts-daily-interval-03.yaml
  .github/workflows/node-flow-fsts-daily-interval-04.yaml
  .github/workflows/node-flow-fsts-daily-interval-05.yaml
  .github/workflows/node-flow-fsts-daily-interval-06.yaml
  .github/workflows/node-flow-pull-request-checks.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxc-deploy-preview.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/platform-zxc-launch-jrs-workflow.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-01.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-02.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-03.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-04.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-05.yaml
  .github/workflows/platform-zxf-jrs-daily-interval-06.yaml
  .github/workflows/zxc-jrs-regression.yaml
  .github/workflows/zxc-publish-production-image.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers, @hashgraph/devops

chore: cherry pick #16789 - Implement hss functions (#16803)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactory.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactoryTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ContractsConfig.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/gas/DispatchType.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleSystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/QuerySystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/SystemContractOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/HssSystemContract.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/common/AbstractCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/DispatchForResponseCodeHssCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/QuerySystemContractOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/CallAttemptHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/HssSystemContractTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/DispatchForResponseCodeHssCallTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/signschedule/SignScheduleTranslatorTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/schedule/HapiScheduleCreate.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/schedule/ContractSignScheduleTest.java
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.json
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HRC755Contract.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HederaResponseCodes.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/HederaScheduleService.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/HRC755Contract/IHederaScheduleService.sol
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.bin
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.json
  hedera-node/test-clients/src/main/resources/contract/contracts/IHRC755/IHRC755.sol
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/devops-ci @hashgraph/release-engineering-managers
#########################
##### Example apps ######
#########################
# Platform-Base Example app
/example-apps/**/module-info.java               @hashgraph/platform-base
/example-apps/swirlds-platform-base-example/    @hashgraph/platform-base


#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/hapi/hedera-protobufs/services                 @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @jsync-swirlds


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services
/hedera-node/README.md                          @hashgraph/hedera-services

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @poulok @netopyr @Nana-EC @SimiHunjan @steven-sheehy @nathanklick
/hedera-node/configuration/dev/**               @hashgraph/hedera-services
/hedera-node/infrastructure/**                  @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/devops-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services
/hedera-node/hedera-app*/                       @hashgraph/hedera-services
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services
/hedera-node/hedera-file*/                      @hashgraph/hedera-services
/hedera-node/hedera-network*/                   @hashgraph/hedera-services
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts-core @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core
/hedera-node/**/module-info.java                @hashgraph/hedera-services

###############################
##### Hedera Cryptography #####
###############################
/hedera-cryptography/                               @hashgraph/platform-cryptography

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/platform-sdk/README.md                             @hashgraph/platform-hashgraph

# Platform SDK Modules
/platform-sdk/platform-apps/                        @hashgraph/platform-hashgraph
/platform-sdk/swirlds-base/                         @hashgraph/platform-base
/platform-sdk/swirlds-benchmarks/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-cli/                          @hashgraph/platform-hashgraph
/platform-sdk/swirlds-common/                       @hashgraph/platform-hashgraph @hashgraph/platform-base @hashgraph/platform-data
/platform-sdk/swirlds-config-*/                     @hashgraph/platform-base
/platform-sdk/swirlds-fchashmap/                    @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                      @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-merkledb/                     @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                      @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-logging-*/                    @hashgraph/platform-base
/platform-sdk/swirlds-merkle/                       @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-platform-core/                @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/common/            @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/core/              @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/structures/        @hashgraph/platform-data @hashgraph/platform-architects  @hashgraph/platform-base
/platform-sdk/swirlds-virtualmap/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/**/module-info.java                   @hashgraph/platform-hashgraph @hashgraph/platform-base

# Documentation
/platform-sdk/docs/platformWiki.md                  @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base
/platform-sdk/docs/base                             @hashgraph/platform-base
/platform-sdk/docs/components                       @hashgraph/platform-hashgraph
/platform-sdk/docs/core                             @hashgraph/platform-hashgraph

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.github/workflows/                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers
/.github/workflows/node-zxf-deploy-integration.yaml @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops
/.github/workflows/node-zxf-deploy-preview.yaml     @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops

# Legacy Maven project files
**/pom.xml                                          @hashgraph/devops-ci @hashgraph/devops

# Gradle project files and inline plugins
/gradle/                                            @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew                                             @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew.bat                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/build-logic/                                     @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/gradle.*                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/*.gradle.*                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers

# JAVA module-info files
**/*.module-info.java                               @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Codacy Tool Configurations
/config/                                            @hashgraph/devops-ci @hashgraph/release-engineering-managers
.remarkrc                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                          @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/LICENSE                                          @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/.gitignore.*                                     @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Legacy CircleCI configuration
.circleci.settings.xml                              @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.circleci/                                         @hashgraph/devops-ci @hashgraph/release-engineering-managers
