Repository hashgraph/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/platform-base, @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-architects, @jsync-swirlds, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops, @hashgraph/release-engineering, @tinker-michaelj, @hashgraph/platform-cryptography, @hashgraph/devops-ci-committers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/devops-ci @hashgraph/release-engineering-managers
#########################
##### Example apps ######
#########################
# Platform-Base Example app
/example-apps/**/module-info.java               @hashgraph/platform-base
/example-apps/swirlds-platform-base-example/    @hashgraph/platform-base


#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/hapi/hedera-protobufs/services                 @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @jsync-swirlds


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services
/hedera-node/README.md                          @hashgraph/hedera-services

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @poulok @netopyr @Nana-EC @SimiHunjan @steven-sheehy @nathanklick
/hedera-node/configuration/dev/**               @hashgraph/hedera-services
/hedera-node/infrastructure/**                  @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/devops-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services
/hedera-node/hedera-app*/                       @hashgraph/hedera-services
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services
/hedera-node/hedera-file*/                      @hashgraph/hedera-services
/hedera-node/hedera-network*/                   @hashgraph/hedera-services
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts-core @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core
/hedera-node/**/module-info.java                @hashgraph/hedera-services

###############################
##### Hedera Cryptography #####
###############################
/hedera-cryptography/                               @hashgraph/platform-cryptography

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/platform-sdk/README.md                             @hashgraph/platform-hashgraph

# Platform SDK Modules
/platform-sdk/platform-apps/                        @hashgraph/platform-hashgraph
/platform-sdk/swirlds-base/                         @hashgraph/platform-base
/platform-sdk/swirlds-benchmarks/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-cli/                          @hashgraph/platform-hashgraph
/platform-sdk/swirlds-common/                       @hashgraph/platform-hashgraph @hashgraph/platform-base @hashgraph/platform-data
/platform-sdk/swirlds-config-*/                     @hashgraph/platform-base
/platform-sdk/swirlds-fchashmap/                    @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                      @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-merkledb/                     @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                      @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-logging-*/                    @hashgraph/platform-base
/platform-sdk/swirlds-merkle/                       @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-platform-core/                @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/common/            @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/core/              @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/structures/        @hashgraph/platform-data @hashgraph/platform-architects  @hashgraph/platform-base
/platform-sdk/swirlds-virtualmap/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/**/module-info.java                   @hashgraph/platform-hashgraph @hashgraph/platform-base

# Documentation
/platform-sdk/docs/platformWiki.md                  @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base
/platform-sdk/docs/base                             @hashgraph/platform-base
/platform-sdk/docs/components                       @hashgraph/platform-hashgraph
/platform-sdk/docs/core                             @hashgraph/platform-hashgraph

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.github/workflows/                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers
/.github/workflows/node-zxf-deploy-integration.yaml @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops
/.github/workflows/node-zxf-deploy-preview.yaml     @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops

# Legacy Maven project files
**/pom.xml                                          @hashgraph/devops-ci @hashgraph/devops

# Gradle project files and inline plugins
/gradle/                                            @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew                                             @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew.bat                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/build-logic/                                     @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/gradle.*                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/*.gradle.*                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers

# JAVA module-info files
**/*.module-info.java                               @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Codacy Tool Configurations
/config/                                            @hashgraph/devops-ci @hashgraph/release-engineering-managers
.remarkrc                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                          @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/LICENSE                                          @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/.gitignore.*                                     @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Legacy CircleCI configuration
.circleci.settings.xml                              @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.circleci/                                         @hashgraph/devops-ci @hashgraph/release-engineering-managers

Cleanup
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/CryptoStatic.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoader.java
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-private-alice.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-private-bob.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-private-carol.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-public-alice.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-public-bob.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/a-public-carol.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-private-alice.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-private-bob.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-private-carol.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-public-alice.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-public-bob.pem
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-tss-key/a-public-carol.pem
Owners: @hashgraph/platform-hashgraph

fix: 16863 Fixed MapValueFCQTests failures
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/timingSensitive/java/com/swirlds/demo/merkle/map/MapValueFCQTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/agrCerts.data
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/sigCerts.data
Owners: @hashgraph/platform-hashgraph

fix: 16863 Fixed MapValueFCQTests failures
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/timingSensitive/java/com/swirlds/demo/merkle/map/MapValueFCQTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/agrCerts.data
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/sigCerts.data
Owners: @hashgraph/platform-hashgraph

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
Owners: @hashgraph/hedera-services

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

intermezzo
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

fix: 16863 Fixed MapValueFCQTests failures (#16864)
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/timingSensitive/java/com/swirlds/demo/merkle/map/MapValueFCQTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/agrCerts.data
  platform-sdk/swirlds-platform-core/src/testFixtures/resources/com/swirlds/platform/crypto/sigCerts.data
Owners: @hashgraph/platform-hashgraph

docs: enhance ConsistencyTestingTool readme (#16841)
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/README.md
Owners: @hashgraph/platform-hashgraph

refactor: fix after develop
  hapi/hedera-protobufs/services/transaction_body.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

chore: Updating action to step security maintained version. (#16835)
  .github/workflows/zxc-jrs-regression.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

chore: add deep VirtualMap key validation for reconnect tests (#16824)
  platform-sdk/swirlds-common/src/testFixtures/java/com/swirlds/common/test/fixtures/merkle/util/MerkleTestUtils.java
  platform-sdk/swirlds-common/src/testFixtures/java/module-info.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/VirtualMapReconnectTestBase.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-base, @hashgraph/platform-data

style: apply spotless
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/EventMetadata.java
Owners: @hashgraph/platform-hashgraph

add cleanup of TssEncryptionKey bodies from state
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/RosterService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/schemas/V057RosterSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/WritableTssStore.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/roster/schemas/V057RosterSchemaTest.java
Owners: @hashgraph/hedera-services

improve codacy and readability
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/schemas/V057RosterSchema.java
Owners: @hashgraph/hedera-services

add javadocs to tss metrics
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssMetrics.java
Owners: @hashgraph/hedera-services

chore: removing notnull annotations and replacing libraries (#16767)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakePlatformContext.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

add on other occurrences and comments
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/roster/schemas/V057RosterSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/PlatformStateUpdates.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/StakePeriodChanges.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/tss/RekeyScenarioOp.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/service/ReadableRosterStoreImpl.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

ci: Downgrade codecov-action to a stable version
  .github/workflows/node-zxc-compile-application-code.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

refactor: PR comments
  hapi/hedera-protobufs/services/basic_types.proto
  hapi/hedera-protobufs/services/transaction_body.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

Additional tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Unarchive genesis-network.json
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/DiskStartupNetworks.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Long term schedule sign tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

chore: Cherry-Pick (0.57): Increase CryptoGetAccountBalance throttle (#16853)
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

chore: Increase CryptoGetAccountBalance throttle (#16857)
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick

ci: Downgrade codecov-action to a stable version (#16874)
  .github/workflows/node-zxc-compile-application-code.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

Support admin key overrides
  hedera-node/configuration/dev/node-admin-keys.json
  hedera-node/hedera-addressbook-service-impl/src/main/java/com/hedera/node/app/service/addressbook/impl/schemas/V053AddressBookSchema.java
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/handlers/AddressBookTestBase.java
  hedera-node/hedera-addressbook-service-impl/src/test/java/com/hedera/node/app/service/addressbook/impl/test/schemas/V053AddressBookSchemaTest.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/workflows/SystemContext.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/SystemSetupTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/BootstrapConfig.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/NetworkAdminConfig.java
  hedera-node/hedera-file-service-impl/src/main/java/com/hedera/node/app/service/file/impl/schemas/V0490FileSchema.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/AbstractNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/ExternalPath.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/EmbeddedNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/utils/WorkingDirUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/BlockUnitSplit.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/HgcaaLogValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/streams/LogValidationOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip993/SystemFileExportsTest.java
  hedera-node/test-clients/src/main/java/module-info.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/internal/PlatformConfigUtils.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

refactor: system transaction proto changes (#16702)
  hapi/hedera-protobufs/platform/event/gossip_event.proto
  hapi/hedera-protobufs/services/basic_types.proto
  hapi/hedera-protobufs/services/transaction_body.proto
  hapi/src/main/java/com/hedera/hapi/util/HapiUtils.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/PlatformEvent.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects, @jsync-swirlds

nit: resolve PR comments
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeConsensusEvent.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/PlatformEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/CesEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/ConsensusEvent.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

chore: Cover changing throttle definitions (#16821)
  hapi/hedera-protobufs/services/response_code.proto
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/handlers/ScheduleCreateHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/queries/AsNodeOperatorQueriesTest.java
  hedera-node/test-clients/src/main/resources/testSystemFiles/mainnet-throttles-sans-reservations.json
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

chore: replace `AddressBook` with `Roster` in `PlatformBuilder` (#16732)
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/DefaultIntakeEventCounter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/SwirldStateManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/uptime/UptimeMetrics.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/uptime/UptimeTracker.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/eventhandling/DefaultTransactionHandlerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/eventhandling/TransactionHandlerTester.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/gossip/DefaultIntakeEventCounterTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/state/SwirldStateManagerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/uptime/UptimeTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/addressbook/RandomRosterBuilder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/addressbook/RandomRosterEntryBuilder.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/addressbook/RosterTestUtils.java
Owners: @hashgraph/platform-hashgraph

fix unit tests
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/PlatformStateUpdates.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/roster/schemas/V057RosterSchemaTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/steps/NodeStakeUpdatesTest.java
Owners: @hashgraph/hedera-services

Mirroring the changes from protobuf PR 453 * Adding a few response codes.
  hapi/hedera-protobufs/block/block_service.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects
