Repository hashgraph/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/platform-base, @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-architects, @jsync-swirlds, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops, @hashgraph/release-engineering, @tinker-michaelj, @hashgraph/platform-cryptography, @hashgraph/devops-ci-committers

fix: Set the designated payer when building an EVM transactions from scheduled transactions (#16708)
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/ContextTransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/HevmTransactionFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/ContextTransactionProcessorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/EthereumTransactionHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/infra/HevmTransactionFactoryTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj, @hashgraph/hedera-services

fix: converting the multiplier from double to int
  hedera-node/hapi-fees/src/main/java/com/hedera/node/app/hapi/fees/pricing/AssetsLoader.java
  hedera-node/hapi-fees/src/main/resources/scheduled-transaction-multipliers.json
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/fees/Fees.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/dispatcher/TransactionDispatcher.java
Owners: @hashgraph/hedera-services

merge develop
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

spotless
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

address PR comments
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/CustomizedOpcodes.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hts/create/CreateDecoderFunction.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

build(deps): bump slackapi/slack-github-action from 1.25.0 to 2.0.0
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

fix: add webhook-type as step input value as required by new major version
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

move flaky test to repeatable
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/LongTermScheduleUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

docs: address comments
  hedera-node/docs/design/app/grpc.md
Owners: @hashgraph/hedera-services

fix tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermCreateTests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

test calculateFees method
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteHandlerTest.java
Owners: @hashgraph/hedera-services

move flaky test to repeatable
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/LongTermScheduleUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

minor
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteHandlerTest.java
Owners: @hashgraph/hedera-services

increase codecov
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

minor
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

fix: 16750 Fixed serialization for `ISSTestingToolState` (#16826)
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

add more test coverage
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

chore: Updating action to step security maintained version.
  .github/workflows/zxc-jrs-regression.yaml
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

docs: additions
  hedera-node/docs/design/services/smart-contract-service/scheduled-create-token-system-contract.md
Owners: @hashgraph/hedera-services

fix: failing CI check due to StateChangesValidator genesis setup
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

PR comment addressed
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteHandlerTest.java
Owners: @hashgraph/hedera-services

more reasonable test name
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

docs: add README file for ISSTestingTool and enhance logs to capture round number
  platform-sdk/platform-apps/tests/ISSTestingTool/README.md
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

added display name
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

forward the top level transaction authorizing simple keys during dispatch
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HederaNativeOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

test: Increase code coverage in `CryptoDeleteAllowanceHandlerTest` (#16834)
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteAllowanceHandlerTest.java
Owners: @hashgraph/hedera-services

system admin exempt from throttles test
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

test: Increase code coverage in `CryptoDeleteHandlerTest` (#16832)
  hedera-node/hedera-token-service-impl/src/test/java/com/hedera/node/app/service/token/impl/test/handlers/CryptoDeleteHandlerTest.java
Owners: @hashgraph/hedera-services

refactor: enhance ConsistencyTestingTool readme
  platform-sdk/platform-apps/tests/ConsistencyTestingTool/README.md
Owners: @hashgraph/platform-hashgraph

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/NetworkOverride.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/NoopSavedStateSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/RestartHapiTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/SavedState.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/SavedStateSpec.java
  hedera-node/test-clients/src/main/java/module-info.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

intermezzo
  hapi/hedera-protobufs/services/state/tss/tss_encryption_keys.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/src/main/java/com/hedera/hapi/util/HapiUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/StartupAssets.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/schemas/TssBaseTransplantSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/schemas/V0580TssBaseSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStoreImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/WritableTssStore.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/StartupAssetsTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/info/DiskStartupNetworksTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/TssBaseServiceImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/schemas/TssBaseTransplantSchemaTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/schemas/V0570TssBaseSchemaTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/ReadableTssStoreTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/WritableTssStoreTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/ConfigOverride.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/GenesisHapiTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/extensions/ExtensionUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/extensions/NetworkTargetingExtension.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/EmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/EmbeddedNetwork.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/utils/WorkingDirUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/NetworkOverride.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/restart/RestartHapiTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/ConcurrentIntegrationTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableRestartTests.java
  version.txt
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects, @hashgraph/devops-ci, @hashgraph/release-engineering-managers

intermezzo
  hedera-node/configuration/dev/genesis-network.json
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/DiskStartupNetworks.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/info/DiskStartupNetworksTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/extensions/NetworkTargetingExtension.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/AbstractLocalNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/HederaNetwork.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/HederaNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/TssKeyMaterial.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/EmbeddedNetwork.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeTssLibrary.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/subprocess/SubProcessNode.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/utils/WorkingDirUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableRestartTests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

fix: RandomVirtualMapReconnectTests fail
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/VirtualMapReconnectTestBase.java
Owners: @hashgraph/platform-hashgraph

fix: module info check
  platform-sdk/swirlds-common/src/testFixtures/java/module-info.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-base

feat: add Bytes support for transaction iteration in ConsensusEvent and its ancestors
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeConsensusEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/PlatformEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/CesEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/ConsensusEvent.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/EventMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/Transaction.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/TransactionWrapper.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

address review comments
  hedera-node/hedera-app/src/main/java/module-info.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/crypto/CryptoStatic.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/crypto/EnhancedKeyStoreLoaderTest.java
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-1/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-1/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-1/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-2/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-2/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-2/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-invalid-case-3/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-agreement-key/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-agreement-key/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid-no-agreement-key/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/enhanced-valid/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-1/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-1/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-1/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-2/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-2/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-invalid-case-2/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-valid/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-valid/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/hybrid-valid/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-1/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-1/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-1/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-2/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-2/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-invalid-case-2/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-valid/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-valid/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/legacy-valid/t-private-carol.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/migration-invalid-missing-private-key/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/migration-invalid-missing-public-key/t-private-alice.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/migration-invalid-missing-public-key/t-private-bob.tss
  platform-sdk/swirlds-platform-core/src/test/resources/com/swirlds/platform/crypto/EnhancedKeyStoreLoader/migration-invalid-missing-public-key/t-private-carol.tss
Owners: @hashgraph/hedera-services, @hashgraph/platform-hashgraph

fix: revert genesisiAddressBook param changes
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/AbstractEmbeddedHedera.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Fix TSS encryption key store access
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/DiskStartupNetworks.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStoreImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/info/DiskStartupNetworksTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/ReadableTssStoreTest.java
  hedera-node/hedera-app/src/test/resources/bootstrap/network.json
Owners: @hashgraph/hedera-services

feat: adapt ISSTestingTool to work with Bytes format as transaction representation
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeConsensusEvent.java
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/EventMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/Transaction.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/transaction/TransactionWrapper.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph

Spotless
  hedera-node/hedera-addressbook-service-impl/src/main/java/module-info.java
Owners: @hashgraph/hedera-services

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/devops-ci @hashgraph/release-engineering-managers
#########################
##### Example apps ######
#########################
# Platform-Base Example app
/example-apps/**/module-info.java               @hashgraph/platform-base
/example-apps/swirlds-platform-base-example/    @hashgraph/platform-base


#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/hapi/hedera-protobufs/services                 @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @jsync-swirlds


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services
/hedera-node/README.md                          @hashgraph/hedera-services

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @poulok @netopyr @Nana-EC @SimiHunjan @steven-sheehy @nathanklick
/hedera-node/configuration/dev/**               @hashgraph/hedera-services
/hedera-node/infrastructure/**                  @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/devops-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services
/hedera-node/hedera-app*/                       @hashgraph/hedera-services
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services
/hedera-node/hedera-file*/                      @hashgraph/hedera-services
/hedera-node/hedera-network*/                   @hashgraph/hedera-services
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts-core @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core
/hedera-node/**/module-info.java                @hashgraph/hedera-services

###############################
##### Hedera Cryptography #####
###############################
/hedera-cryptography/                               @hashgraph/platform-cryptography

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/platform-sdk/README.md                             @hashgraph/platform-hashgraph

# Platform SDK Modules
/platform-sdk/platform-apps/                        @hashgraph/platform-hashgraph
/platform-sdk/swirlds-base/                         @hashgraph/platform-base
/platform-sdk/swirlds-benchmarks/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-cli/                          @hashgraph/platform-hashgraph
/platform-sdk/swirlds-common/                       @hashgraph/platform-hashgraph @hashgraph/platform-base @hashgraph/platform-data
/platform-sdk/swirlds-config-*/                     @hashgraph/platform-base
/platform-sdk/swirlds-fchashmap/                    @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                      @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-merkledb/                     @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                      @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-logging-*/                    @hashgraph/platform-base
/platform-sdk/swirlds-merkle/                       @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-platform-core/                @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/common/            @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/core/              @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/structures/        @hashgraph/platform-data @hashgraph/platform-architects  @hashgraph/platform-base
/platform-sdk/swirlds-virtualmap/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/**/module-info.java                   @hashgraph/platform-hashgraph @hashgraph/platform-base

# Documentation
/platform-sdk/docs/platformWiki.md                  @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base
/platform-sdk/docs/base                             @hashgraph/platform-base
/platform-sdk/docs/components                       @hashgraph/platform-hashgraph
/platform-sdk/docs/core                             @hashgraph/platform-hashgraph

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.github/workflows/                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers
/.github/workflows/node-zxf-deploy-integration.yaml @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops
/.github/workflows/node-zxf-deploy-preview.yaml     @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops

# Legacy Maven project files
**/pom.xml                                          @hashgraph/devops-ci @hashgraph/devops

# Gradle project files and inline plugins
/gradle/                                            @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew                                             @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew.bat                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/build-logic/                                     @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/gradle.*                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/*.gradle.*                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers

# JAVA module-info files
**/*.module-info.java                               @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Codacy Tool Configurations
/config/                                            @hashgraph/devops-ci @hashgraph/release-engineering-managers
.remarkrc                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                          @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/LICENSE                                          @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/.gitignore.*                                     @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Legacy CircleCI configuration
.circleci.settings.xml                              @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.circleci/                                         @hashgraph/devops-ci @hashgraph/release-engineering-managers
