Repository hashgraph/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/devops-ci, @hashgraph/release-engineering-managers, @hashgraph/platform-base, @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-architects, @jsync-swirlds, @rbair23, @dalvizu, @poulok, @netopyr, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @hashgraph/devops, @hashgraph/release-engineering, @tinker-michaelj, @hashgraph/platform-cryptography, @hashgraph/devops-ci-committers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/devops-ci @hashgraph/release-engineering-managers
#########################
##### Example apps ######
#########################
# Platform-Base Example app
/example-apps/**/module-info.java               @hashgraph/platform-base
/example-apps/swirlds-platform-base-example/    @hashgraph/platform-base


#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/hapi/hedera-protobufs/services                 @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core @jsync-swirlds


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services
/hedera-node/README.md                          @hashgraph/hedera-services

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @poulok @netopyr @Nana-EC @SimiHunjan @steven-sheehy @nathanklick
/hedera-node/configuration/dev/**               @hashgraph/hedera-services
/hedera-node/infrastructure/**                  @hashgraph/release-engineering-managers @hashgraph/devops-ci @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/devops-ci @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services
/hedera-node/hedera-app*/                       @hashgraph/hedera-services
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services
/hedera-node/hedera-file*/                      @hashgraph/hedera-services
/hedera-node/hedera-network*/                   @hashgraph/hedera-services
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts-core @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services @hashgraph/hedera-smart-contracts-core
/hedera-node/**/module-info.java                @hashgraph/hedera-services

###############################
##### Hedera Cryptography #####
###############################
/hedera-cryptography/                               @hashgraph/platform-cryptography

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/platform-sdk/README.md                             @hashgraph/platform-hashgraph

# Platform SDK Modules
/platform-sdk/platform-apps/                        @hashgraph/platform-hashgraph
/platform-sdk/swirlds-base/                         @hashgraph/platform-base
/platform-sdk/swirlds-benchmarks/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-cli/                          @hashgraph/platform-hashgraph
/platform-sdk/swirlds-common/                       @hashgraph/platform-hashgraph @hashgraph/platform-base @hashgraph/platform-data
/platform-sdk/swirlds-config-*/                     @hashgraph/platform-base
/platform-sdk/swirlds-fchashmap/                    @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                      @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-merkledb/                     @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                      @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-logging-*/                    @hashgraph/platform-base
/platform-sdk/swirlds-merkle/                       @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-platform-core/                @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/common/            @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/core/              @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/structures/        @hashgraph/platform-data @hashgraph/platform-architects  @hashgraph/platform-base
/platform-sdk/swirlds-virtualmap/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/**/module-info.java                   @hashgraph/platform-hashgraph @hashgraph/platform-base

# Documentation
/platform-sdk/docs/platformWiki.md                  @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base
/platform-sdk/docs/base                             @hashgraph/platform-base
/platform-sdk/docs/components                       @hashgraph/platform-hashgraph
/platform-sdk/docs/core                             @hashgraph/platform-hashgraph

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.github/workflows/                                 @hashgraph/devops-ci @hashgraph/devops-ci-committers
/.github/workflows/node-zxf-deploy-integration.yaml @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops
/.github/workflows/node-zxf-deploy-preview.yaml     @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/devops

# Legacy Maven project files
**/pom.xml                                          @hashgraph/devops-ci @hashgraph/devops

# Gradle project files and inline plugins
/gradle/                                            @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew                                             @hashgraph/devops-ci @hashgraph/devops-ci-committers
gradlew.bat                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/build-logic/                                     @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/gradle.*                                         @hashgraph/devops-ci @hashgraph/devops-ci-committers
**/*.gradle.*                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers

# JAVA module-info files
**/*.module-info.java                               @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Codacy Tool Configurations
/config/                                            @hashgraph/devops-ci @hashgraph/release-engineering-managers
.remarkrc                                           @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                          @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/LICENSE                                          @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                      @hashgraph/devops-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                       @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph
**/.gitignore.*                                     @hashgraph/devops-ci @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services @hashgraph/platform-hashgraph

# Legacy CircleCI configuration
.circleci.settings.xml                              @hashgraph/devops-ci @hashgraph/release-engineering-managers
/.circleci/                                         @hashgraph/devops-ci @hashgraph/release-engineering-managers

Switch log level for extra config properties to DEBUG
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/internal/PlatformConfigUtils.java
Owners: @hashgraph/platform-hashgraph

docs: include hip-756 design doc
  hedera-node/docs/design/services/smart-contract-service/scheduled-create-token-system-contract.md
Owners: @hashgraph/hedera-services

refactor: delete the `spec.autoScheduledTxns` flag and all related code (#16816)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpec.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecSetup.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/SpecOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoUpdateSuite.java
  hedera-node/test-clients/src/main/resources/spec-default.properties
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Add test for changing throttle definitions
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/handlers/ScheduleCreateHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/resources/testSystemFiles/mainnet-throttles-sans-reservations.json
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

feat: withAndWithoutLongTermEnabled mod implementation (#16180)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/AllLeakyTestsWithLongTermFlagEnabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/AllTestsWithLongTermFlagEnabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/FutureSchedulableOpsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleCreateTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleDeleteTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleExecutionTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleRecordTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/StatefulScheduleExecutionTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/utils/DynamicTestUtils.java
  hedera-node/test-clients/src/main/java/module-info.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Cover changing throttle definitions
  hapi/hedera-protobufs/services/response_code.proto
  hedera-node/hedera-schedule-service-impl/src/main/java/com/hedera/node/app/service/schedule/impl/handlers/ScheduleCreateHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/resources/testSystemFiles/mainnet-throttles-sans-reservations.json
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

protobufs
  hapi/hedera-protobufs/block/stream/output/state_changes.proto
  hapi/hedera-protobufs/services/basic_types.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/src/main/java/com/hedera/hapi/util/HapiUtils.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/schemas/V0570TssBaseSchema.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStoreImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/WritableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/steps/StakePeriodChanges.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/hedera/embedded/fakes/FakeTssBaseService.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/StateChangesValidator.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects, @jsync-swirlds

protobufs
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

Use CONFIG marker for debug info
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/config/internal/PlatformConfigUtils.java
Owners: @hashgraph/platform-hashgraph

fix: correct interpretation of empty child NFT transfer list (#16764)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/assertions/NonFungibleTransfers.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableHip423Tests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableIntegrationTests.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/integration/RepeatableTssTests.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

add tssStatus
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStore.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/ReadableTssStoreImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/stores/WritableTssStore.java
Owners: @hashgraph/hedera-services

add new suite for basis fees
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/CryptoServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/MiscellaneousFeesSuite.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

add new suite for basis fees
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/TokenServiceFeesSuite.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

add tests
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/ReadableTssStoreTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/tss/stores/WritableTssStoreTest.java
Owners: @hashgraph/hedera-services

create suite for each base fee and move the tests accordingly
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AllBaseOpFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/FileServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/MiscellaneousFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/ScheduleServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/TokenServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/FileAppendSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/FutureSchedulableOpsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/ScheduleUtils.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenPauseSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenUpdateNftsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/util/UtilPrngSuite.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

chore: deep VirtualMap key validation
  platform-sdk/swirlds-common/src/testFixtures/java/com/swirlds/common/test/fixtures/merkle/util/MerkleTestUtils.java
Owners: @hashgraph/platform-hashgraph, @hashgraph/platform-base, @hashgraph/platform-data

Revert unrelated changes
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  platform-sdk/swirlds-merkle/src/timingSensitive/java/com/swirlds/virtual/merkle/reconnect/BreakableDataSource.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/merkle/AbstractHashListener.java
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/reconnect/ReconnectNodeRemover.java
  platform-sdk/swirlds-virtualmap/src/timingSensitive/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-data, @hashgraph/platform-architects

address review comments
  hapi/hedera-protobufs/block/stream/output/state_changes.proto
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockImplUtils.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockImplUtilsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/validators/block/BlockStreamUtils.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

wip
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
Owners: @hashgraph/hedera-services

Revise design doc using MinIO and more considerations
  hedera-node/docs/proposals/block-stream-bucket-uploader.md
Owners: @hashgraph/hedera-services

module-info
  hedera-node/hedera-app/src/main/java/module-info.java
Owners: @hashgraph/hedera-services

fix tests
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/TssBaseServiceImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/info/DiskStartupNetworksTest.java
  hedera-node/hedera-config/src/main/java/com/hedera/node/config/data/ApiPermissionConfig.java
Owners: @hashgraph/hedera-services

Fixed 16083. Verified on multi-node cluster for max TPS and Reconnect
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFilePath.java
Owners: @hashgraph/platform-hashgraph

Fixed spotless warning
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/snapshot/SignedStateFilePath.java
Owners: @hashgraph/platform-hashgraph

fix tests
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BoundaryStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/KVStateChangeListener.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/tss/schemas/V0570TssBaseSchema.java
Owners: @hashgraph/hedera-services

address review comments
  hapi/hedera-protobufs/block/stream/output/state_changes.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/hedera-protobufs/services/transaction_body.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @hashgraph/platform-hashgraph, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects, @jsync-swirlds

address review comments
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

fix: 16750 Fixed serialization for `ISSTestingToolState`
  platform-sdk/platform-apps/tests/ISSTestingTool/src/main/java/com/swirlds/demo/iss/ISSTestingToolState.java
Owners: @hashgraph/platform-hashgraph

Consolidate crypto service fee tests
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoApproveAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoDeleteAllowanceSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/CryptoServiceFeesSuite.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

token service base fees
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AllBaseOpFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/TokenServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenAirdropBase.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenCancelAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenClaimAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenCreateSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenFeeScheduleUpdateSpecs.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

address pr comments 2
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/dispatch/ChildDispatchFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/TransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/common/AbstractCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/HssCallAttempt.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/HssCallFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/hss/signschedule/SignScheduleTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/CallAttemptHelpers.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallAttemptTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/HssCallFactoryTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/hss/signschedule/SignScheduleTranslatorTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

break up the proxy redirect code in order to clarify
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj

More cleanup work
  hedera-node/docs/proposals/block-stream-bucket-uploader.md
Owners: @hashgraph/hedera-services

Consolidate consensus service fee tests Add new test for ConsensusGetTopicInfo Add new (failing) test for CryptoDelete Spotless
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicUpdateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/CryptoTransferSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AllBaseOpFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/ConsensusServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/CryptoServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/FileServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/MiscellaneousFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/ScheduleServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/TokenServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/file/FileAppendSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip904/TokenCancelAirdropTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/schedule/FutureSchedulableOpsTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenCreateSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenFeeScheduleUpdateSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenPauseSpecs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenUpdateNftsSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/util/UtilPrngSuite.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

Update hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

Update hapi/hedera-protobufs/services/state/tss/tss_status.proto
  hapi/hedera-protobufs/services/state/tss/tss_status.proto
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core, @jsync-swirlds

gradle: improve error text w/incorrect version of java
  gradle/plugins/src/main/kotlin/com.hedera.gradle.java.gradle.kts
Owners: @hashgraph/devops-ci, @hashgraph/devops-ci-committers

Try initializing MerkleCryptoFactory earlier
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
Owners: @hashgraph/hedera-services

stabilize ci
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermSignTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/queries/AsNodeOperatorQueriesTest.java
Owners: @hashgraph/hedera-services, @hashgraph/hedera-smart-contracts-core

fix: Set the designated payer when building an EVM transactions from scheduled transactions (#16708)
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/ContextTransactionProcessor.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/infra/HevmTransactionFactory.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/ContextTransactionProcessorTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/EthereumTransactionHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/infra/HevmTransactionFactoryTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip423/ScheduleLongTermExecutionTest.java
Owners: @hashgraph/hedera-smart-contracts-core, @tinker-michaelj, @hashgraph/hedera-services
